body,
* {
  margin: 0;
  padding: 0;
}

/* header section */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}
.header .header-name {
  font-weight: 500;
}
.header .header-list {
  font-weight: 500;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 40px;
  list-style: none;
  color: rgb(30, 30, 30);
}
.header .header-list .header-link {
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

/* contents section */
.contents {
  padding: 80px;
  padding-top: 10%;
}
.hero {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
}
.hero-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.hero-intro h2 {
  font-size: xx-large;
}
.hero-intro-para {
  width: 90%;
  font-size: large;
  padding-top: 30px;
}
.hero-social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  padding-top: 80px;
  gap: 15px;
}
.hero-social-links .item:hover {
  cursor: pointer;
}
.hero-profile-image {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-profile-image img {
  width: 80%;
  height: 70vh;
  object-fit: cover;
}
.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 48px;
  gap: 32px;
}
.hero-button .btn {
  background-color: rgb(61, 0, 136);
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  height: 45px;
  width: 20%;
  cursor: pointer;
}
.hero-button .btn:hover {
  transition: all 0.5s ease-in-out;
  color: black;
  background-color: white;
  border: 1px solid rgb(61, 0, 136);
}

/* about section */
.about-section {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about-image {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 58%;
  height: 50vh;
  object-fit: cover;
}
.about-tech {
  width: 100%;
  height: 70vh;
  margin-top: 170px;
}
.tech-header {
  font-weight: 100;
  font-size: xx-large;
}
.tech-para {
  padding-top: 48px;
  font-size: medium;
  text-transform: uppercase;
}
.tech-icons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-size: xx-large;
  list-style: none;
  padding-top: 40px;
}
.tech-funny {
  margin-top: 50px;
}
.tech-funny .skills {
  margin-top: 14px;
}

/* skills section */
.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.skills-section .frontend {
  padding-top: 10px;
}
.skills-All {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
  height: auto;
}
.frontend-section {
  margin-top: 22px;
}
.frontend {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.frontend .html {
  background-color: rgb(212, 212, 212);
  padding-top: 4px;
  text-align: center;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  list-style: none;
}
.backend-section {
  margin-top: 22px;
}
.backend {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 12px;
}
.backend .server {
  background-color: rgb(212, 212, 212);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  list-style: none;
}
.other-skills-section {
  padding-top: 16px;
}
.other {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.other .language {
  background-color: rgb(212, 212, 212);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  list-style: none;
}

.skills-Image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-Image img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

/* project section */
.project-section {
  margin-top: 120px;
  width: 100%;
}
.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 30px;
}
.project-logistic {
  width: 100%;
  height: auto;
  border: 2px solid rgb(154, 154, 154);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 30px;
}
.project-logistic .logistic-image {
  width: 100%;
  height: 30vmin;
  display: flex;
  justify-items: center;
  align-items: center;
}
.project-logistic-header {
  padding-top: 14px;
  text-decoration: line-through;
  text-decoration: none;
}
.project-logistic-header .icon {
  background: rgb(111, 111, 111);
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}
.project-logistic p {
  width: 94%;
  word-break: break-all;
  padding-top: 10px;
}
.project-logistic-skills {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: start;
  align-items: start;
  grid-gap: 10px;
  padding-top: 10px;
}
.logistic-skill {
  background: rgb(215, 215, 215);
  width: fit-content;
  padding: 4px;
  height: 20px;
  border-radius: 2px;
}
.project-travelList {
  width: fit-content;
  height: auto;
  border: 2px solid rgb(154, 154, 154);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 20px;
}
.project-travelList .travelList-image {
  width: 100%;
  height: 40hv;
  display: flex;
  justify-items: center;
  align-items: center;
}
.project-travelList h4 {
  padding-top: 14px;
}
.project-travelList p {
  width: 94%;
  word-break: break-all;
  padding-top: 10px;
}
.project-travelList-skills {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding-top: 10px;
}
.travelList-skill {
  background: rgb(215, 215, 215);
  width: fit-content;
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border-radius: 2px;
}
.contact-section {
  margin-top: 140px;
}
